@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
    }

    body {
        position: relative;
        background-color: #fafafa;
    }
}
